{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 140
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "warn",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ]
  }
}